* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #00151f;
  color: #00151f;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./imgs/image.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
}

.swiper {
  width: 100%;
  max-width: 1000px;
  padding: 40px 0;
  overflow: visible !important;
}

.swiper-slide {
    pointer-events: none;
    opacity: 0.5;
}

.swiper-slide.swiper-slide-active {
    pointer-events: auto;
    opacity: 1;
}

.swiper-slide {
    pointer-events: none;
    filter: blur(2px) brightness(0.8);
    opacity: 0.6;
}

.swiper-slide.swiper-slide-active {
    pointer-events: auto;
    filter: none;
    opacity: 1;
}


.logo-reveste {
  display: block;
  margin: 8px auto 0px auto;
  width: 130px;
  height: auto; 
}

.swiper-slide {
  background: linear-gradient(135deg, #f1ecec, #f1ecec);
  border-radius: 20px;
  padding: 14px;
  width: 100%;
  max-width: 400px;
  min-height: 100%;
  height: 650px;
  max-height: 105vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
  text-align: center;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: thin;
  scrollbar-color: #104c60 #c7c4c4;
}

.swiper-slide::-webkit-scrollbar {
  width: 8px;
}

.swiper-slide::-webkit-scrollbar-track {
  background: #c7c4c4;
  border-radius: 10px;
}

.swiper-slide::-webkit-scrollbar-thumb {
  background-color: #104c60;
  border-radius: 10px;
  border: 2px solid #d6d2d2;
}

input, textarea, select, button {
    touch-action: manipulation;
    user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #104c60;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 11px;
}

label {
  font-size: 14px;
  color: #1c292e;
  text-align: justify;
}


input, textarea, select {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: -8px;

  background: #c7c4c4;
  color: #395c68;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid #104c60;
}

button {
  padding: 12px;
  background-color: #104c60;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #1c292e;
}

.swiper-button-prev {
  color: #ffffff;
  left: -90px;
}

.swiper-button-next {
  color: #ffffff; 
  right: -90px;    
}

.hidden {
  display: none;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #006b96;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.btn-nav {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #564c1c;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 1em;
    z-index: 1000;
}

.btn-nav:hover {
    background: #383212;
    color: #ffffff;
}

@media (max-width: 768px) {
  .swiper {
    padding: 20px 0;
    height: 610px;
  }

  .swiper-slide {
    max-width: 280px;
    padding: 15px 20px;
  }

  form {
    gap: 17px;
  }

  input, textarea, select {
    padding: 8px;
    font-size: 14px;
    margin-top: -2px;
  }

  textarea {
    height: 60px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }

  .swiper-button-prev {
    left: -50px;
    color: #ffffffcc;
  }

  .swiper-button-next {
    right: -50px;
    color: #ffffffcc;
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    max-width: 300px;
    padding: 12px 15px;
    height: auto;
  }

  form {
    gap: 6px;
  }

  input, textarea, select {
    padding: 6px;
    font-size: 13px;
  }

  textarea {
    height: 50px;
  }

  button {
    padding: 8px;
    font-size: 13px;
  }

  .swiper-button-prev {
    left: 5px;
    color: #ffffff7f;
  }

  .swiper-button-next {
    right: 5px;
    color: #ffffff7f;
  }
}
