body {
  font-family: Arial, sans-serif;
  background-color: #00151f;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  height: 200px;
  object-fit: contain;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.container {
  background-color: #fff;
  padding: 35px;
  margin-top: -18rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

h1 {
  color: #1c292e;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

.important {
  color: #b91c1c;
  font-weight: bold;
}

.email-icon {
  font-size: 40px;
  margin-bottom: 20px;
  color: #2563eb;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #564c1c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #383212;
  transform: scale(1.05);
}
